
<div class="col-10 text-center p-3 mb-2 bg-gradient-dark text-white">
    <div class="row text-center">
        <div class="col-10">
            <div class="card">
                <div class="card-body">
                    <a target="blank" href="https://wa.link/i47sep">Eniva el siguiente mensaje para poder recibir notificaciones en tu whatsapp</a>
                </div>
                <div class="col-10">
                    <img src="/img/link.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>