
<div class="container">
    <div class="row py-5 mt-4 align-items-center">
        
        <div class="col-md-5 pr-lg-5 mb-5 mb-md-0">
            <img src="./img/delivery.jpg" alt="" class="img-fluid mb-3 d-none d-md-block">
            <span>Photo by <a href="https://unsplash.com/@brettjordan?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Brett Jordan</a> on <a href="https://unsplash.com/s/photos/delivery?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a></span>
            <h1>Crea una cuenta</h1>
        </div>
        

        <!-- Registeration Form -->
        <div class="col-md-7 col-lg-6 ml-auto">
            <form action="/registroBusiness" method="POST">
                <div class="row">
                    
                    <input type="hidden" name="rol" value="empresa">
                    <!-- Name -->
                    <div class="input-group col-lg-12 mb-4">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-white px-4 border-md border-right-0">
                                <i class="fas fa-laptop-house"></i>
                            </span>
                        </div>
                        <input required id="name" type="text" name="name" placeholder="Nombre Empresa" class="form-control bg-white border-left-0 border-md">
                    </div>

                    <!-- Email Address -->
                    <div class="input-group col-lg-12 mb-4">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-white px-4 border-md border-right-0">
                                <i class="fa fa-envelope text-muted"></i>
                            </span>
                        </div>
                        <input required id="mail" type="email" name="mail" placeholder="Correo Electronico" class="form-control bg-white border-left-0 border-md">
                    </div>

                    <!-- Owner -->
                    <div class="input-group col-lg-12 mb-4">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-white px-4 border-md border-right-0">
                                <i class="fas fa-user-tie"></i>
                            </span>
                        </div>
                        <input required id="owner" type="text" name="owner" placeholder="Nombre propietario" class="form-control bg-white border-left-0 border-md">
                    </div>

                    <!-- phone -->
                    <div class="input-group col-lg-12 mb-4">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-white px-4 border-md border-right-0">
                                <i class="fas fa-mobile-alt"></i>
                            </span>
                        </div>
                        <input required id="phone" type="number" name="phone" placeholder="Numero Celular" class="form-control bg-white border-left-0 border-md">
                    </div>

                    <!-- photo -->
                    <form action="/registroBusiness" method="post" enctype="multipart/form-data">
                    <div class="input-group col-lg-12 mb-4">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-white px-4 border-md border-right-0">
                                <i class="fas fa-camera-retro"></i>
                                <label for="photo" class="mx-2">Fotografia:</label>
                                <input type="file" id="photo" name="photo">
                            </span>
                        </div>
                    </div>
                    </form>
                    <!-- user -->
                    <div class="input-group col-lg-12 mb-4">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-white px-4 border-md border-right-0">
                                <i class="far fa-user-circle"></i>
                            </span>
                        </div>
                        <input required id="user" type="text" name="user" placeholder="Nombre de Usuario" class="form-control bg-white border-left-0 border-md">
                    </div>
                    
                    <!-- password -->
                    <div class="input-group col-lg-12 mb-4">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-white px-4 border-md border-right-0">
                                <i class="fas fa-user-lock"></i>
                            </span>
                        </div>
                        <input required id="pass" type="password" name="pass" placeholder="Contraseña" class="form-control bg-white border-left-0 border-md">
                    </div>

                    <!-- Submit Button -->
                    <div class="form-group col-lg-12 mx-auto mb-0">
                        <button type="submit" class="btn btn-primary btn-block py-2" >
                            <span class="font-weight-bold">Agregar</span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
