<main class="index">
    <header class="masthead d-flex">
        <div class="container text-center my-auto">
            <h1 class="mb-1">Delivery App</h1>
            <h3 class="mb-5">
                <em>Selecciona el menu de tu preferencia</em>
            </h3>
            <a href="/login" class="btn btn-primary">Iniciar</a>
        </div>
    </header>
</main>